<html>
    <head>
    </head>
    <body>
        <header>
            <h1> employee Management System</h1>
        </header>
        <form action="/displayaddform">
            <button type="submit" name="btn" id="btn" value="btn">Add new Employees</button>
            <table border="2">
                <thead>
                    <tr>
                        <th>Employee Id</th>
                        <th>Employee name</th>
                        <th>Salary</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <%for(var i=0;i<empdata.length;i++){%>
                        <tr>
                            <td><%=empdata[i].empid%></td>
                            <td><%=empdata[i].ename%></td>
                            <td><%=empdata[i].sal%></td>
                            <td>
                                <a href="/edit/<%=empdata[i].empid%>">Edit/</a>
                                <a href="/delete/<%=empdata[i].empid%>">Delete</a>
                            </td>
                        </tr>

                    <%}%>
                    
                    <tr>
                    
                    </tr>
                </tbody>
            </table>
        </form>
    </body>
</html>